##Appication
API_PORT =modified

##Information DATABASE
DATABASE_PORT=modified
DATABASE_NAME=modified
DATABASE_USERNAME=modified
DATABASE_PASSWORD=modified 

##User Data
USER_EMAIL=modified
USER_USERNAME=modified
USER_PASSWORD=modified
USER_TOKEN=modified